@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#stepProgressBar  {
	display:  flex;
	justify-content:  space-between;
	align-items:  flex-end;
	min-width: 650px;
  max-width: 1000px;
	margin:  0  auto;
  margin-bottom:  5px;
  background-color: #fff;
  padding: 20px;
  overflow: auto;
}

.step  {
  text-align:  center;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.step-text  {
/* margin-bottom:  10px; */
color: rgba(0, 0, 0, 0.54);
margin-left: 10px;
}

.step-text.active{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.step-text.completed{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.step-content{
  padding: 20px;
}


.bullet {
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
	transition: background-color 500ms;
  line-height:20px;
  background-color: rgba(0, 0, 0, 0.38);
}


.bullet.completed  {
	color:  white;
  background-color:  #1976d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .bullet.completed::after {
	content: '';
	position: absolute;
	right: -60px;
	bottom: 10px;
	height: 1px;
	width: 54px;
	background-color: #28a745;
} */
.bullet.active{
  background-color: #1976d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

button  {
  padding:  6px  16px;
  margin:  5px;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.75;
  min-width: 64px;
  box-sizing: border-box;
  background-color: #1976d2;
  color: #fff;
  box-shadow: 
      0px 3px 1px -2px rgba(0,0,0,0.2), 
      0px 2px 2px 0px rgba(0,0,0,0.14), 
      0px 1px 5px 0px rgba(0,0,0,0.12);
  transition:  250ms background-color;
  text-transform: uppercase;
  font-weight: 500;
}

button:hover  {
	cursor:  pointer;
	background-color: rgb(17, 82, 147);
}
button:focus{
  outline: none;
}
button.back{
  color: rgba(0, 0, 0, 0.87);
  background: none;
  box-shadow: none;
}
button.back:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

button:disabled, button:disabled:hover  {
  background: none;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  cursor: initial;
}


/* Base styles and helper stuff */
.hidden  {
	display:  none;
}

.text-center  {
	text-align:  center;
}
  
.container  {
	max-width:  700px;
	margin:  0  auto;
	margin-top:  20px;
  padding:  40px;
  background-color: #f5f5f5;
}

